.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem; // veci od backgrounda da bi bili sigurni da je prekrio background na pocetku
        width: 7rem; // veci od backgrounda da bi bili sigurni da je prekrio background na pocetku
        position: fixed;
        top: 6rem; // i ovo smo smanjili za 0.5rem 
        right: 6rem; // i ovo smo smanjili za 0.5rem
        border-radius: 50%;
        z-index: 2000; 

    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000; // z-index samo deluje na elemente kojima je position definisana

        transform: scale(90); // kasnije cemo kad se navigacija cekira/otvori, background postane sto veci, tj skejluje se, i to cemo animirati
    }

    &__nav {
        height: 100vh;
        width: 100%; // ne moramo ovo definisati jer je ovo block element a on po difoltu okupira 100%
        position: fixed;
        top: 0;
        right: 0; // krecemo od gornjeg desnog ugla
        z-index: 1500; // __button trbda bude na vrhu svega, a __nav da bude iznad __background-a, dakle ovde je z-index veci od __background, a manji od __ button
    }

    &__list {
        // position: absolute;
        // top: 50%;
        // left:50%;
        // transform: translate(-50%, -50%); // mozemo napraviti mixin za ove 4 stvari za verikalno centriranje jer se dosta ponavlja u projektu
        @include align-vh;
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block; // VAZNOOOOO, bez ovo g onaj dole transform u hoveru nece raditi, kao ni ovaj ovde padding sto smo dodali
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;

            // dekoracija za solid-color, donji desni ugao preko celog linka belo
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            // background-size: 100%; // starting point, igraj se s ovim u insprectu, kada smanjujemo ovu vrednost, kao da se smanjuje i duzina solid-colora, tako samo izgleda, ali ne smanjuje se samo duzina, vec citav background, samo sto se ne vidi ono sto je van linka
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem); // DODAJ U __LINK:VISITED/LINK DA JE DISPLAY: INLINE-BLOCK INACE NECE OVO PRIHVATITI
        }
        
    }
}