.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; /* jer je height headera 95vh, a u clip pathu imamo ono gde je 75vh, pa tako 95-75=20vh, a negativno je da ide na gore */

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    // ovo smo kopirali iz header.scss jer je prakticno ista fora slike i gradijenta
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem; // kod njega je -10rem

    & > * { // sva DIREKTNA deca u section-feature, da nismo samo na direktnu decu primenii ovaj skewY efekat, vec na sve childrene, onda bi se svaki children skjuvovao za 7deg, i icon i text i sve \\\\\
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours { // kao section-about, pa cemo kopirati nes
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0; // morali smo povecati na 50rem bottom 
    margin-top: -10rem; // da bi popunili beo prazan prostotr kod gradienta tj skew-a od section-features, pomeramo ovaj div gore za 10rem (20rem je potrebno kad se odzumira) tj 100px, kod njega je 10rem

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }

}

.section-stories { 
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    background-image: linear-gradient(105deg,
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%, /* 50% je providno belo, tj do pola diva (s leva na desno) je providno bele boje */
                                    /*orangered 50%*/
                                    transparent 50%), // 50% je narandzasto, dakle do pola diva (s desna na levo zzbog 105deg) je skroz narandzasto.... /* solid line se napravi (ta linija izmedju bele i narandzaste) zato on ovo zove solid-gradients*/
                                    url("../img/nat-10.jpg"); // ovo nije moguce svugde primeniti, recimo tamo gde je clip-path radjen, stv je moralo sa njim, ne sa ovim
    background-size: 100%; // isto sto i cover
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    height: 50rem;

    &__form {
        width: 50%; 
        padding: 6rem;
    }
}