.section-about {
    background-color: color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; /* jer je height headera 95vh, a u clip pathu imamo ono gde je 75vh, pa tako 95-75=20vh, a negativno je da ide na gore */
}